.order-details-container {
                    margin-top: 2rem !important;
                    height: 110vh !important;
}
.table {
                    padding: 5px;
                    width: 100%;
                    overflow-x: auto;
}

.--orderDetails-sidebar-wrapper {
                    background-color: rgba(109, 57, 4, 0.528);
                    height: 732px;
}