.menu-ul {
                    width: 100%;
  .active {
    border-left: 4px solid #7cfc00;
    border-right: 4px solid #7cfc00;
    border-radius: 0;                                                        
    height: 38px;
  }
}
